body{
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(../slike/kafezalebre.png);
}

html{
  scroll-behavior: smooth;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav{
  position: sticky;
  top: 0px;
  background: rgba(80, 49, 190, 0.8);
  height: 80px;
  width: 100%;
}

label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul{
  float: right;
  margin-right: 100px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

.navigacija:hover{
  color: red;
}




.elijah{
  display: flex;
  background-color: rgba(80, 49, 190, 0.8);
  height: auto;
  width: auto;
  border: solid;
  border-color: blue;
  margin: 5px;
  padding: 5px;
}

.ilijaslika{
  height: 610px;
  width: 850px;
}

.ilijatekst{
margin: 5px;
text-align: center;
}






#box1 {
    width: 600px;
    height: 100px;
    background: chocolate;
    font-size: 50px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  #box2 {
    width: 350px;
    height: 50px;
    background: yellow;
    font-size: 30px;
    text-align: center;
    animation: mySlide;
    animation-duration: 5s;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  #box3 {
    width: 350px;
    height: 50px;
    background: violet;
    font-size: 30px;
    text-align: center;
    animation: mySlide;
    animation-duration: 10s;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  #box4 {
    width: 350px;
    height: 50px;
    background: grey;
    font-size: 30px;
    text-align: center;
    animation: mySlide;
    animation-duration: 8s;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  @keyframes mySlide {
    from {
      margin-left: 100%;
    }
    to {
      margin-left: 0%;
    }
  }